<div class="article-title-container">
  <div class="article-banner">
    <h1> Blog of the day: </h1>
    <h1><%= @article.title.upcase %></h1>
    <p>TYLER ROSANO | <%= @article.created_at.strftime("%B %d, %Y") %></p>
  </div>
</div>
<div class="article-container">
  <p><%= @article.content %></p>
  <p style="text-align: left !important; text-decoration: underline !important;">Leave comment</p>
  <%= simple_form_for([@article, @question]) do |f| %>
    <h2><%= f.input :content, wrapper_html: { class: 'banner-description' } %></h2>
    <%= f.submit "submit", class: "btn btn-primary" %>
  <% end %>

  <form>
    <div class="form-group">
      <p style="text-align: left !important; text-decoration: underline !important;">Leave comment</p>
      <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
    </div>
  </form>
  <p style="text-align: left !important; text-decoration: underline !important;">Comments</p>
  <p style="text-align: left !important; text-decoration: underline !important;">Past blogs</p>
</div>
